* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    overflow: auto;
    min-height: 100%;
}

html, body {
    height: 100%;
}

#root {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 400px;
    top: 0;
    margin: 0;
}


$bg-color: #3a3a3a;
$txt-color: #3399ff;
.home {
    margin: 0 auto;
    background-color: $bg-color;
    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        text-align: center;
        font-size: 30pt;
        color: $txt-color;
    }
}


.content {
    width: 100%;
    color: $txt-color;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.content-box {
    max-width: 500px;
    margin: 10px;
    padding: 10px;
    background-color: $bg-color;
    border-radius: 15px;

    h2 {
        font-weight: bold;
        text-decoration: underline;
        margin-bottom: 5px;
    }
}


.notFound {
    margin: 0 auto;
    background-color: #3a3a3a;
    width: 100%;
    height: 100%;

    h1 {
        text-align: center;
        color: $txt-color;
    }
}
